#buttonDiv {
    display: flex;
    justify-content: center;
}
#resetButton {
    margin: 1rem;
}
#container {
    display: grid;
    margin: auto;
    width: 16rem;
    height: 16rem;
    grid-template-columns: repeat(16, 16fr);
    justify-content: center;
    border-style: solid;
    border-color: black;
}

.grid{
    margin: 0;
    width: 1fr;
    height: 1fr;
    
}